<nb-card>
    <nb-card-body>
        <h2>{{receivedData}}</h2>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-body>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec odio ipsum, fringilla et condimentum auctor,
            sollicitudin id ipsum. Aliquam sed enim varius, facilisis sapien a, accumsan felis. Suspendisse nec metus
            mauris.
            Donec rutrum mattis scelerisque. Integer a eleifend felis. Suspendisse quis erat diam. In mollis urna
            maximus,
            mattis nibh et, iaculis ipsum. Vivamus nec placerat tellus. Vestibulum ante ipsum primis in faucibus orci
            luctus et
            ultrices posuere cubilia curae; Morbi sit amet purus at eros eleifend hendrerit. Aenean vestibulum ex eu
            purus
            commodo laoreet. Nulla nisl odio, laoreet eu rutrum pellentesque, dapibus ac diam. Nam felis dolor,
            vestibulum
            ornare vulputate vel, dignissim et sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere
            cubilia curae;

            Pellentesque ornare erat elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
            turpis
            egestas. Vivamus ac nulla quis eros pellentesque ultricies eget ac nulla. Mauris tristique ornare cursus.
            Nam
            eleifend efficitur tellus, at varius nunc egestas commodo. Duis dolor nunc, vulputate sit amet congue ut,
            ultricies
            vitae nulla. Nullam tincidunt metus nisi, ac semper ligula placerat vulputate. Fusce et molestie nisi, vel
            convallis
            libero. Vivamus vel neque felis. Nulla non turpis nec nunc vehicula porttitor. Duis sodales semper turpis
            nec
            laoreet. Proin at dui rutrum, efficitur orci id, luctus eros. Pellentesque tellus elit, maximus vitae
            bibendum quis,
            posuere nec risus. Maecenas ultrices metus quis sem lacinia sagittis.

            Curabitur hendrerit ex a nulla imperdiet aliquam. Proin ac turpis consectetur, efficitur velit eget, iaculis
            nunc.
            Quisque pellentesque, turpis pretium pretium bibendum, dolor ante lacinia sem, ut imperdiet mi augue et
            justo.
            Integer quis sodales orci. Quisque laoreet tempus ligula ut interdum. Nam auctor magna ac varius vulputate.
            Interdum
            et malesuada fames ac ante ipsum primis in faucibus. Proin ac semper odio.

            Cras est lorem, accumsan commodo orci quis, ultrices venenatis eros. Pellentesque semper malesuada
            scelerisque.
            Nulla eu euismod purus. Nunc lectus est, luctus ac aliquet vitae, fringilla nec libero. Nullam quis
            malesuada eros,
            ut pretium orci. Mauris a consectetur mi, id dignissim justo. Nunc quis faucibus libero. Donec porttitor
            orci et
            aliquam tincidunt.

            Suspendisse in libero est. Aliquam et bibendum augue. Ut tempus commodo quam, eu vulputate orci pharetra at.
            Fusce
            malesuada erat non sem blandit, vitae sagittis nibh bibendum. Ut egestas consequat dictum. Ut ac mi a est
            tincidunt
            mattis at eget erat. In maximus ut eros sit amet convallis.
        </p>
    </nb-card-body>
</nb-card>