.container {
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
  .title {
    font-weight: bold;
  }
  
  .column span {
    margin: 5px;
  }
  